<a href="https://colab.research.google.com/github/jay10440/general-projects/blob/main/Function_Practice_in_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Creating Beginner to Advanced Functions in R

This won't be the typical Textbook style tutorial. Instead we'll just work an ensemble of things. Starting from easy to harder, we'll get some good practice in with creating functions with R. Automation makes life easier after all...

In [1]:
#As always, starting with packages:
install.packages(c("base","stats","ggplot2","dplyr","purrr","stringr","rlang"
,"testthat","magrittr","pacman"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message:
“packages ‘base’, ‘stats’ are base packages, and should not be updated”

In [2]:
pacman::p_load(base,stats,ggplot2,dplyr,purrr,stringr,rlang,testthat,magrittr)

#Beginner Functions

Starting on easy level. First, notation:

`functionname <- function(argument1, argument2,... =default_value) {
  inputs function stuff, the whole thing
  return(result)
}`

Here, functionname is whatever you want to call it (we'll learn the hard way what's not allowed lol). Arguments are the variables (and if they have assigned numbers). You can generally put in as many as you like. Let's try with a few simple examples.

In [8]:
#Linear function
linfunc<- function(x,m=10,b=11){
  linfunc<- m*x+b
  return(linfunc)
}
#trying a few examples:
linfunc(3)
linfunc(11)

[1] 41

[1] 121

In [9]:
#Trying a fancy function:
sine<- function(x,a=4){
  sine<- sin(a*x)
  return(sine)
}
sin(0)
sin(pi)
sin(pi/2)

[1] 0

[1] 1.224647e-16

[1] 1

Here's a few practice problems.

1. Create a function that cubes a number.
2. Create a function that converts celcius to farenheit.
3. Create a function that computes the area given radius.
4. Create a function that takes the max of two real numbers.
5. Creat a function that determines whether a number is even or not.

In [13]:
cuber<-function(x){c<-x^3
return(result)}
cuber(4)

[1] 64

In [16]:
Fahr<- function(Cel){
  Fahr<- (9/5)*Cel+32
  return(result)
}
Fahr(100)

[1] 212

In [17]:
Area<- function(r){
  Area<- pi*r^2
  return(result)
}
Area(4)

[1] 50.26548

In [18]:
Maxfunction<- function(x,y){
  maxfunction<- max(x,y)
  return(result)
}
Maxfunction(-11,22)

[1] 22

In [19]:
isiteven<- function(x){
  isiteven<- x %% 2
  return(result)
}
isiteven(13)

[1] 1

#Intermediate Functions

We'll introduce if-else and for loops. Here are some basic examples:

In [24]:
#Is the number positive or negative?
bin_number <- function(x){
  if (x<0) { return("negative")}
  else if (x==0) {return("zero")}
  else {return("positive")}
}
bin_number(11)
bin_number(0)
bin_number(-44)

[1] "positive"

[1] "zero"

[1] "negative"

Important note about the loops: We have to start with a base value, else the code will act a fool lol. It's just how we do it in calc 2 and wherever else.

Creating:
$$\sum_{i=1}^n i=1+2+...+n$$

In [28]:
#Basic Summation in n terms
sum_n <- function(n){
  total<-0 #Starting value
  for (i in 1:n) { #Opening the loop, looping from 1 to n
    total <- total + i #Sum each number starting with the total
  }
  return(total)
}
sum_n(3)
sum_n(30)

[1] 6

[1] 465